h1 {
  color: #9156f9;
  font-size: 2em;
  line-height: 0.8;
}
h1,
h2,
h3,
p,
ul,
li,
td,
th {
  font-family: "Helvetica", "Arial", sans-serif;
}
#container {
  // margin-top: 5vh;
  width: 95vw;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
}

.loading {
  width: 20px;
}

@media (max-width: 50em) {
  #container {
    width: 95vw;
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

/* The datetime picker*/
#datetimepicker {
  // position: relative;
  // display: inline-block;

  // opacity: 0.7;
}
/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  // position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  // display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 100;
}

#options {
  display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block !important;
}
